@import "../node_modules/include-media/dist/include-media";
@import '../node_modules/include-media-export/dist/_include-media-export';
$easing: 0.15s ease-in-out;
$easing-slow: 0.3s ease-in-out;
$easing-very-slow: 3s ease-in-out;
$button-selection-border: 0.25em solid;
$phone-bar-height: 2rem;
$tablet-bar-width: 4.5rem;

*,
body,
html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  transition: color $easing, background-color $easing;
}

body,
html {
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

figcaption {
  font-style: italic;
}

#root {
  overflow-y: auto;
  height: 100%;
}

.App {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1rem 0;
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  // overflow-y: auto;
  position: relative;
  // &.noscroll {
  //   overflow: hidden;
  // }
  button,
  div,
  input,
  p,
  select,
  textarea {
    font-family: "Open Sans", sans-serif;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: "Arvo", sans-serif;
      transition: color $easing, background-color $easing;
      font-weight: 400;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 3em;
  }

  h2 {
    font-weight: 300;
    font-size: 1.5em;
  }

  .subtitle,
  h2 {
    overflow: hidden;
    transition: max-height $easing;
    max-height: 2em;
    @include media("<tablet") {
      max-height: 0;
    }
  }

  p {
    max-width: 40em;
    line-height: normal;
  }

  header {
    // text-align: left;
    // margin-bottom: 1.5rem;
    // z-index: 3;
    padding-bottom: 1rem;
  }

  .filterButtons,
  .tileList,
  header {
    padding-left: 1rem;
  }
    .filterButtons {
      margin-bottom: 1rem;}
  @include media("<706px") {
    .filterButtons {
      margin-bottom: 0;
      min-height: 2.25rem;
      padding-left: 0;
      width: 100%;
      display: grid;
      grid-gap: 0.25em;
      grid-template-columns: repeat(3, 1fr);

      button.horizontal {
        flex-grow: 1;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  button {
    transition: color $easing, background-color $easing, border $easing;
    height: 2em;
    min-width: 3rem;
    min-height: 2rem;

    &.horizontal {
      margin-right: 1rem;
    }

    &.vertical {
      margin-bottom: 1rem;
    }
  }
  @include media("<706px") {
    padding-top: 0;
    padding-left: 0;

    header {
      padding-left: 0;
      padding-bottom: 0;

      h1 {
        font-size: 3em;
        padding-bottom: 0.125rem;
        padding-left: 0.125rem;
      }
    }
  }

  .toggleButton {
    &::after {
      transition: border $easing;
      border: 0 solid;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &.selected {
      &.horizontal::after {
        border-bottom: $button-selection-border;
      }

      &.vertical::after {
        border-left: $button-selection-border;
      }
    }
  }

  .tileList {
    display: grid;
    grid-gap: 16px 16px;
    grid-template-columns: repeat(auto-fill, 320px);
    max-width: 70rem;
    height: auto;
    // grid-auto-columns: 20rem;
    grid-auto-flow: row;
    justify-content: left;
    padding-bottom: 1rem;
    padding-right: 1rem;
    @include media("<706px") {
      width: 100%;
      padding: 0;
      grid-template-columns: repeat(auto-fill, 100%);
      grid-gap: 1rem 0;

      .tile {
        width: 100%;
        // height: 50vw;
        .thumbnailImage {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .tile {
    opacity: 1;
    width: 20em;
    // height: 320px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 10rem 0.75rem 0.75rem;
    // margin: 0.5em;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: opacity $easing;

    h3 {
      font-size: 1.5em;
    }

    &.thumbnailImage {
      background-size: 0;

      &::before {
        content: '';
        background: {
          position: center;
          image: inherit;
          size: cover;
        }
        // filter: grayscale(80%) contrast(110%);
        // width: 100%;
        // height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform $easing;
      }
    }

    &.inactive {
      opacity: 0.35;
    }

    &:focus,
    &:hover {
      opacity: 1;

      &.thumbnailImage::before {
        transform: scale(1.02);
        // filter: none;
      }
      outline-offset: -0.15em;

      h3 {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-skip: objects;
      }
    }

    div {
      // display: grid;
      // grid-template-columns: 100%;
      // grid-gap: 0.5em;
      // grid-auto-rows: 1fr;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 100%;
      min-height: 100%;
      padding: 0.5rem;
      z-index: 2;
      position: relative;

      h3 {
        justify-self: flex-start;
      }

      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .overlay {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &.active {
      display: block;
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      opacity: 0.25;
    }

    .closeOverlay {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      transition: transform $easing;
      width: $tablet-bar-width;
      height: 100vw;
      padding: 0;
      @include media("<tablet") {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: $phone-bar-height;
      }

      button {
        width: $tablet-bar-width;
        height: $tablet-bar-width;
        @include media("<tablet") {
          width: 100%;
          height: $phone-bar-height;
        }
      }
    }
  }

  .projectPage {
    position: absolute;
    top: 0;
    left: $tablet-bar-width;
    width: calc(100vw - #{$tablet-bar-width});
    height: 100vh;
    min-height: 100%;
    padding: 1em 1em 2em;
    overflow: auto;

    h3 {
      // margin-bottom: 1em;
      font-size: 3em;
    }

    h4 {
      // margin-bottom: 1em;
      font-size: 2em;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      max-width: 68em;
      width: 100%;
      min-height: 100%;
      padding-bottom: 2em;
      position: relative;
      height: auto;
      grid-gap: 2em 1em;
      // padding-bottom: 1em;
      @include media(">=desktop") {
        padding-bottom: 4em;
      }
      @include media("<desktop") {
        grid-gap: 0.5em;
      }
      grid-auto-flow: row dense;
    }

    header {
      padding: 0;
      grid-column-start: span 5;
    }

    .contentSection {
      grid-column: 1/ 4;

      p {
        margin: 0.5em 0;
        line-height: 1.55em;
      }

      ul {
        li {
          list-style-type: square;
          margin: 0.5em 1.5em;
          line-height: 1.35em;
        }
      }
    }

    .contentVisual {
      max-width: 100%;
      max-height: 90vh;
      grid-column: 4/ 6;
      z-index: 1;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .contentVisual .center {
      position: relative;
      width: 100%;
      height: 100%;
    }
    @include media(">=desktop") {
      .contentSection:nth-of-type(even) {
        grid-column: 3 / 6;
      }

      .contentVisual:nth-of-type(even) {
        grid-column: 1 / 3;
        left: 0;
      }

      .contentVisual {
        .center {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
          position: relative;

          [data-constrainheight] {
            left: 50%;
            transform: translate(-50%);
          }
        }

        .blurBackground {
          overflow: hidden;
          background: none;

          &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 200%;
            height: 200%;
            // z-index: -1;
            filter: blur(6px) saturate(0.25);
            background: {
              position: center;
              image: inherit;
              size: cover;
            }
          }
        }
      }

      iframe,
      video {
        // width: 100%;
        // height: 100%;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    @include media("<desktop") {
      .contentSection,
      .contentVisual {
        grid-column: span 5;
      }

      .contentVisual {
        max-width: 100vw;
        max-height: none;
        height: auto;

        .center {
          height: auto;
        }

        iframe,
        video {
          max-height: 95vh;
          left: 0;
          transform: none;
        }

        .blurBackground {
          background: none !important;
        }
      }

      .contentSection:not(:first-of-type) {
        padding-top: 4em;
      }

      .contentSection:first-of-type {
        padding-top: 1em;
      }
    }
    @include media("<tablet") {
      top: $phone-bar-height;
      left: 0;
      width: 100vw;
      height: calc(100vh - #{$phone-bar-height});
      padding: 0.5em 0 0;
      min-height: calc(100vh - #{$phone-bar-height});

      .contentSection,
      figcaption,
      header {
        padding: 1em 0.5em 0.5em;
      }

      .contentVisual {
        max-width: 100vw;
        height: auto;
        // max-height: calc(99vh - #{$phone-bar-height});
        .center {
          height: auto;
        }

        iframe,
        img,
        video {
          max-height: calc(99vh - #{$phone-bar-height});
          position: relative;
          transform: translate(-50%,0);
          margin: auto;
          left: 50%;
        }

        figcaption {
          text-align: center;
        }
      }
    }

    .fullRow {
      grid-column: span 5 !important;
    }

    .endOfPage {
      text-align: center;
      padding: 1em 10vw;
      height: 0;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vw;
        max-width: 100%;
        // padding: 0 5vw;
        height: 0;
        transform: translate(-50%,-50%);
        border-bottom: 1px solid;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border: 1px solid;
        width: 0.5em;
        height: 0.5em;
        transform: translate(-50%,-50%);
        background-color: inherit;
      }
    }
  }

  .placeholder_message {
    font-weight: 300;
  }

  .tagList {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.9;

    & > li {
      display: inline;

      &:not(:last-child):after {
        content: " | ";
      }
    }
  }

  .themeButtons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    @media speech {
      display: none;
    }
    @include media("<tablet") {
      flex-flow: row nowrap;
      height: 2em;

      button.selected::after {
        border-bottom: $button-selection-border;
        border-left: none !important;
      }
    }
    @include media("<500px") {
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: row;
      align-items: stretch;
      height: 2em;

      & > button {
        flex-grow: 1;
        height: 100%;
      }
    }
  }
  /*End of .themeButtons*/
}
/*End of .App*/
