@import "../node_modules/include-media/dist/include-media";
@import '../node_modules/include-media-export/dist/_include-media-export';
$easing: 0.15s ease-in-out;
$easing-slow: 0.3s ease-in-out;
$easing-very-slow: 3s ease-in-out;
$button-selection-border: 0.25em solid;
$phone-bar-height: 2rem;
$tablet-bar-width: 4.5rem;

*,
body,
html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  transition: color $easing, background-color $easing;
}

body,
html {
  height: 100vh;
  overflow: hidden;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}

#root {
  overflow-y: auto;
  height: 100%;
}

.App {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1rem 0;
  width: 100%;
  // height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  // overflow-y: auto;
  position: relative;
  // &.noscroll {
  //   overflow: hidden;
  // }
  button,
  div,
  input,
  p,
  select,
  textarea {
    font-family: "Open Sans", sans-serif;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: "Arvo", sans-serif;
      transition: color $easing, background-color $easing;
      font-weight: 400;
    }
  }

  p {
    max-width: 40em;
    line-height: normal;
  }

  header {
    // text-align: left;
    // margin-bottom: 1.5rem;
    z-index: 3;
    padding-bottom: 1rem;
  }

  .filterButtons,
  .tileList,
  header {
    padding-left: 1rem;
  }

  .filterButtons {
    margin-bottom: 1rem;
    min-height: 2.25rem;
  }

  button {
    transition: color $easing, background-color $easing, border $easing;
    height: 2em;
    min-width: 3rem;
    min-height: 2rem;

    &.horizontal {
      margin-right: 1rem;
    }

    &.vertical {
      margin-bottom: 1rem;
    }
  }

  .toggleButton {
    &::after {
      transition: border $easing;
      border: 0 solid;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &.selected {
      &.horizontal::after {
        border-bottom: $button-selection-border;
      }

      &.vertical::after {
        border-left: $button-selection-border;
      }
    }
  }

  .tileList {
    display: grid;
    grid-gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, 320px);
    max-width: 70rem;
    height: auto;
    // grid-auto-columns: 20rem;
    grid-auto-flow: row;
    justify-content: left;
    padding-bottom: 1rem;
    padding-right: 1rem;
    @include media("<tablet") {
      width: 100vw;
      padding: 0;
      grid-template-columns: repeat(auto-fill, 100vw);
      grid-gap: 1rem 0;

      .tile {
        width: 100vw;
        height: 100vw;

        .thumbnailImage {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .tile {
    opacity: 1;
    width: 320px;
    height: 320px;
    max-width: 100vw;
    max-height: 100vw;
    padding: 10rem 0.75rem 0.75rem;
    // margin: 0.5em;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: opacity $easing;

    .thumbnailImage {
      background: {
        position: center;
        image: url("http://dev.scott-wilson.ca/img/ducks.jpg");
        size: cover;
      }
      // filter: grayscale(80%) contrast(110%);
      // width: 100%;
      // height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform $easing;
    }

    &.inactive {
      opacity: 0.35;
    }

    &:focus,
    &:hover {
      opacity: 1;

      .thumbnailImage {
        transform: scale(1.02);
        // filter: none;
      }
      outline-offset: -0.15em;

      h3 {
        text-decoration: underline;
        text-decoration-skip-ink: auto;
        text-decoration-skip: objects;
      }
    }

    div {
      // display: grid;
      // grid-template-columns: 100%;
      // grid-gap: 0.5em;
      // grid-auto-rows: 1fr;
      flex-flow: column nowrap;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      z-index: 2;
      position: relative;

      h3 {
        justify-self: flex-start;
      }

      & > *:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .overlay {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &.active {
      display: block;
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      opacity: 0.25;
    }

    .closeOverlay {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      transition: transform $easing;
      width: $tablet-bar-width;
      height: 100vw;
      padding: 0;
      @include media("<tablet") {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;
        height: $phone-bar-height;
      }

      button {
        width: $tablet-bar-width;
        height: $tablet-bar-width;
        @include media("<tablet") {
          width: 100%;
          height: $phone-bar-height;
        }
      }
    }
  }

  .projectPage {
    position: absolute;
    top: 0;
    left: $tablet-bar-width;
    width: calc(100vw - #{$tablet-bar-width});
    height: 100vh;
    padding: 1em;
    overflow: auto;

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      max-width: 68em;
      width: 100%;
      height: auto;
      grid-gap: 1em 0.5em;
      grid-auto-flow: row dense;
    }

    header {
      padding: 0;
      grid-column-start: span 5;
    }
    // @include media("<tablet") {
    //   .contentVisual {
    //     width: 80vw !important;
    //     height: 80vh !important;
    //   }
    // }

    h4 {
      margin-bottom: 0.5em;
    }

    .contentSection,
    .contentVisual {
      // padding: 0;
      outline: 1px rgba(255,255,255,0.125) solid;
      // outline-offset: 0.25em;
    }

    .contentSection {
      grid-column: 1/ 4;
    }

    .contentVisual {
      max-width: 100%;
      max-height: 90vh;
      grid-column: 4/ 6;
      position: relative;
      z-index: 1;
      // max-height: 50vh;
      picture {
        // width: 100%;
        // height: 100%;
        // max-width: 80vw;
        // max-height: 80vh;
        img {
          max-width: 100%;
          max-height: 100%;
          // width: auto;
          // height: auto;
        }
      }
      // &.video,
      // &.vimeoEmbed {
      //   width: 100%;
      //   max-height: 90vh;
      //   // background-image: url("http://dev.scott-wilson.ca/img/ducks.jpg");
      // }
      .fixedAspect {
        position: relative;
      }


      &.center {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .blurBackground {
      overflow: hidden;
      // max-width: 100vw;
      // max-height: 100vh;
      background: none;

      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200%;
        height: 200%;
        z-index: -1;
        filter: blur(6px) saturate(0.25);
        background: {
          position: center;
          image: inherit;
          size: cover;
        }
      }
    }
    @include media(">=desktop") {
      .contentSection:nth-of-type(even) {
        grid-column: 3 / 6;
      }

      .contentVisual:nth-of-type(even) {
        grid-column: 1 / 3;
      }

            iframe,
            video {
              // width: 100%;
              // height: 100%;
              position: absolute;
              top: 0;
              left: 0;
            }
    }
    @include media("<desktop") {
      .contentSection,
      .contentVisual {
        grid-column: span 5;
      }

      .contentVisual {
        height: auto;
      }
    }
    @include media("<tablet") {
      top: $phone-bar-height;
      left: 0;
      width: 100vw;
      height: calc(100vh - #{$phone-bar-height});
      padding: 0.5em 0 0;

      .contentSection,
      header {
        padding: 1em 0.5em 0.5em;
      }

      .contentVisual {
        max-width: 100vw;
        max-height: calc(100vh - #{$phone-bar-height});
      }
      // .contentSection:not(:first-of-type){
      // }
    }
    // @include media("<desktop") {
    //   .contentSection,
    //   .contentVisual {
    //     margin: 1em 0;
    //     width: auto;
    //     max-height: 100%;
    //   }
    // }
    // @include media("<tablet") {
    //
    //   .contentSection {
    //     padding: 0 0.5em;
    //   }
    //
    //   .contentVisual {
    //     padding: 0;
    //     max-height: calc(100vh - #{$phone-bar-height});
    //   }
    // }
  }
  // }
  .placeholder_message {
    // font-style: italic;
    font-weight: 300;
  }

  .tagList {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    opacity: 0.9;

    & > li {
      display: inline;

      &:not(:last-child):after {
        content: " | ";
      }
    }
  }

  .themeButtons {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: flex;
    flex-flow: column nowrap;
    @media speech {
      display: none;
    }
    @include media("<tablet") {
      flex-flow: row nowrap;
      height: 2em;

      button.selected::after {
        border-bottom: $button-selection-border;
        border-left: none !important;
      }
    }
  }
  /*End of .themeButtons*/
}
/*End of .App*/
